<h1>About</h1>
<p>
	This application is made from enterpreneurs for enterpreneurs.</br>
	The idea for this app was to ease our work. If you want to track when to register to salestax in any state, this feature could help you. 
</p>
